body{
    margin:0px;
    padding:0px;
    background-color: springgreen;
}
#section{
    height: 180px;
    width:80%;
    background-color: rgb(233, 241, 120);
    border-radius: 10px;
    margin:150px 130px;
    box-shadow: 0px 0px 5px rgb(135, 145, 3);
    visibility:hidden;
}
#h2{
    text-align: center;
    font-size: 3rem;
    font-family: monospace;
    padding-top: 10px;
    color:rgb(194, 28, 16);
}
#p{
    text-align: center;
    font-size: 1.2rem;
    font-family: monospace;
    color:rgb(83, 8, 153);
    font-weight: 500;
}
button{
    position:fixed;
    top:55%;
    left:38%;
    height: 50px;
    width:340px;
    border:none;
    border-radius: 5px;
    background-color: rgb(24, 46, 243);
    color:white;
    font-size: 2rem;
}
button:hover{
    background-color: rgb(243, 6, 6);
    color:rgb(78, 215, 240);
}